.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: $font-size-large;

        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--white {
        background-color: $color-white;
        color: $gray;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-orange;
        color: $color-white;

        &::after {
            background-color: $color-orange;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $font-size-small;
        color: $color-orange;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-orange;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $gray;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.btn-ghost:link,
.btn-ghost:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.25s, border 0.2s, color 0.2s;
    transition: background-color 0.25s, border 0.2s, color 0.2s;
    border: 1px solid $color-orange;
    color: $color-orange;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: #fff;
}



.btn-ghost--portfolio:link,
.btn-ghost--portfolio:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.25s, border 0.2s, color 0.2s;
    transition: background-color 0.25s, border 0.2s, color 0.2s;
    border: 1px solid $color-white;
    background-color: $color-white;
    color: $color-dark-blue;
    max-width: 240px;
    margin: 0 auto 0 auto;
}

.btn-ghost--portfolio:hover,
.btn-ghost--portfolio:active {
    // background-color: $color-dark-blue;
    // border: 1px solid $color-dark-blue;
    // color: #fff;
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: $color-white;
}

.btn-ghost--popular:link,
.btn-ghost--popular:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.25s, border 0.2s, color 0.2s;
    transition: background-color 0.25s, border 0.2s, color 0.2s;
    border: 1px solid $color-white;
    background-color: $color-white;
    color: $color-dark-blue;
    max-width: 300px;
    margin: 0 auto 0 auto;
}

.btn-ghost--popular:hover,
.btn-ghost--popular:active {
    // background-color: $color-dark-blue;
    // border: 1px solid $color-dark-blue;
    // color: #fff;
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
    color: $color-white;
}