.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    -webkit-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
            box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    margin: 0 6rem 0 6rem;
    width: 40rem;
    height: 40rem;
    color: $color-dark-blue;

    @include respond(tab-port){
        margin: $l-size 0 $l-size 0;
    }
    @include respond(tab-land) {
        margin: 0 2rem 0 2rem;
    }

    &--services {
        height: 50rem;

        &-best {
            background-color: rgba($color-dark-blue, .9);
            color: $color-white;
        }

        @include respond(tab-land) {
            height: 35rem;
            margin: 2rem;
        }

    }

    &--service-page {
        background-color: rgba($color-orange, .8);
        color: $off-white;
        height: 45rem;
        width: 35rem;
        margin: 0 3rem 0 3rem;

        @include respond(tab-land) {
            height: 35rem;
        }

        @include respond(big-desktop) {
            margin: 0 6rem 0 6rem;
        }
    }

    &:hover {
        -webkit-transform: translateY(-1.5rem) scale(1.03);
                transform: translateY(-1.5rem) scale(1.03);
    }

    ul {
        list-style: none;
        width: 70%;
        margin: 0 auto;

        li {
            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;
            border-bottom: 1px solid $gray;
        }
    }

    p {
        margin: $m-size 0;
    }
}

#feature-box__best-box {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;
        border-bottom: 1px solid $color-orange;
    }

}

#popular-p {
    color: $color-orange;
    font-size: $font-size-large;
}