.header {
    // background: #f4f4f4;
    // background: #090C0E;
    background: #f7f7f7;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: $header-height;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @include respond(phone) {
        height: $header-mobile-height;
    }
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: $header-height;

    @include respond(tab-port) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
}

.header__nav {
    height: $header-height;
    margin-left: -10.8rem;

    @include respond(tab-land) {
        height: 32rem;
        margin-left: 0;
    }

    @include respond(tab-port) {
        display: none;
    }


    :nth-child(6) {
        background-color: $color-orange;   
    }
}

.header__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 3em;
    height: $header-height;

    @include respond(tab-land) {
        font-size: 3em;
    }
    @include respond(tab-port) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 17rem;
        height: 0;
    }


    li {
        height: $header-height;
        width: 16rem;
        // text-align: center;

        @include respond(tab-land) {
            width: 14rem;
            height: $header-height;
            font-size: 2.5rem;
        }
        @include respond(tab-port) {
            width: 100vw;
            height: 6rem;
        }
        :hover {
            background-color: $color-orange;
            color: $off-white;
        }
    }

}

.header__list-item {
    text-decoration: none;
    // color: white;
    color: #090C0E;
    height: $header-height;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;

    @include respond(tab-port) {
        height: 6rem;
    }

}

.header__contact {
    @include respond(tab-port) {
        // -webkit-box-orient: vertical;
        // -webkit-box-direction: normal;
        //     -ms-flex-direction: column;
        //         flex-direction: column;
        // -webkit-box-pack: center;
        //     -ms-flex-pack: center;
        //         justify-content: center;
        // margin-top: 14rem;
        // width: 100vw;
        // height: 6rem;
        // padding: 2rem;
        display: none;
    }
}

.heaver__nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    @include respond(tab-port) {
        flex-direction: column;
        margin-top: 2.5rem;
    }
}

.header__contact--link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: #090C0E;
    font-size: 3em;
    color: #090C0E;
    background-color: $color-orange; 
    width: 20rem;
    height: 100%;

    @include respond(tab-port) {
        // -webkit-box-orient: vertical;
        // -webkit-box-direction: normal;
        //     -ms-flex-direction: column;
        //         flex-direction: column;
        // -webkit-box-pack: center;
        //     -ms-flex-pack: center;
        //         justify-content: center;
        // margin-top: 14rem;
        width: 100vw;
        height: 6rem;
        padding: 2rem;
        // display: none;
    }

    :hover {
        color: $off-white;
    }
}

.header__menu-logo {
    width: 7rem;
    height: 7rem;
    display: none;

    @include respond(tab-port){
        -ms-flex-item-align: end;
            align-self: flex-end;
        display: initial;
        // position: absolute;
        cursor: pointer;
        margin-top: -8rem;
        margin-right: 4rem;
    }
    @include respond(phone){
        width: 6rem;
        height: 6rem;
        margin-top: -6.3rem;
        margin-right: 2.5rem;
    }
}

#header-logo {
    height: 6rem;
    width: 6rem;
    margin-top: $s-size;
    margin-left: $xl-size;

    @include respond(tab-land){
        margin-top: $m-size;
        margin-left: $xl-size;
    }
    @include respond(tab-port){
        margin-top: $s-size;
        margin-left: $l-size;
        height: 8rem;
        width: 8rem;
    }

    @include respond(phone) {
        height: 6rem;
        width: 6rem;
        margin-left: $m-size;
    }
}

.Navbar__ToggleShow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
} 

.header__open {
    @include respond(tab-port) {
        height: 42rem;
    }
    
}