.header {
    background: #f4f4f4;
    position: fixed;
    z-index: 100;
    width: 80%;
    margin-top: $m-size;
    left: 10%;
    border-radius: 25px;

}

.header__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: $font-size-large;
    padding: $l-size 0;
}

.header__list-item {
    padding-top: 10px;
    text-decoration: none;
}