/*********************

** ABOUT SECTION

**********************/
.about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    // width: 80rem;
    width: 55%;
    margin: $xl-size auto $xl-size auto;
    font-size: 2em;

    @include respond(tab-land) {
        width: 60%;
    }

    @include respond(tab-port) {
        width: 65%;
    }

    @include respond(tab-port) {
        width: 75%;
    }

    @include respond(big-desktop) {
        width: 45%;
    }
}

.about-paragraph {
    margin-bottom: 2rem;
    line-height: 1.5;
}

#about__story-text {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: $l-size;
}