.faq__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100rem;
    margin: 8rem auto 8rem auto;

}

.faq__item {
    font-size: 2em;

    &:not(:last-child) {
        margin-bottom: $l-size;
    }

    & > ul {
        list-style-position: outside;
        margin-left: 1em;
    }
}