/*********************

** FINEST QUALITY SECTION

**********************/
.index__finest-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background: $off-white;
    font-size: 2.5em;
}

.index__finest-header {
    margin: $m-size auto 0 auto;
}

.index__finest-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.index__finest-body--text {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 10vw;

    &-item {
        margin: auto 0 $xl-size 0;
    }
}

.index__finest-body--images {
    position: relative;

    &-photo {
        width: 30rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        // @include respond(tab-port) {
        //     float: left;
        //     position: relative;
        //     width: 33.33333333%;
        //     box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        // }

        &-p1 {
            right: 55rem;
            top: 25rem;

            // @include respond(tab-port)  {
            //     top: 0;
            //     transform: scale(1.2);
            // }
        }

        &-p2 {
            right: 40rem;
            top: -6rem;

            // @include respond(tab-port)  {
            //     top: -1rem;
            //     transform: scale(1.3);
            //     z-index: 100;
            // }
        }

        &-p3 {
            right: 25rem;
            top: -10rem;

            // @include respond(tab-port)  {
            //     top: 1rem;
            //     left: 0;
            //     transform: scale(1.1);
            // }
        }

        &:hover {
            outline: 1.5rem solid $color-orange;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}

.index__finest-footer {
    margin: 0 auto 0 auto;
}



/*********************

** MOST POPULAR SECTION

**********************/
.index__popular {
    height: 100vh;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(.././images/gtr.jpg);
    background-image: linear-gradient(rgba(251, 86, 3, 0.6), rgba(251, 86, 3, 0.3)),url(.././images/mercedez.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    background-attachment: fixed;
}
.index__popular-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    font-size: 2.5em;
    color: white;
}

.index__popular-header {
    margin: $m-size auto 0 auto;
}

.index__popular-body {
    display: flex;
    flex-direction: row;
    justify-content: center; 
}

.index__popular-footer {
    margin: 0 auto 0 auto;
}


/*********************

** BEST IN THE BUSINESS SECTION

**********************/
.index__best-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: $off-white;
    font-size: 2.5em;
    height: 100%;
}

.index__best-header {
    margin: $m-size auto 0 auto;
}

.index__best-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.index__best-body--info-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: $l-size;
}

.index__best-body--icon {
    margin-right: $xl-size;
    width: 6rem;
}

.index__best-body--image-photo {
    width: 60rem;
    border-radius: 20px;
}

/*********************

** PORTFOLIO SECTION

**********************/
.index__portfolio {
    height: 100vh;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(.././images/gtr.jpg);
    background-image: linear-gradient(rgba(251, 86, 3, 0.6), rgba(251, 86, 3, 0.3)),url(.././images/ferrari.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    background-attachment: fixed;
    color: white;
}

.index__portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 2.5em;
}



/*********************

** CUSTOMERS SECTION

**********************/
.index__customers {
    height: 100vh;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(.././images/gtr.jpg);
    background-image: linear-gradient(rgba(251, 86, 3, 0.6), rgba(251, 86, 3, 0.3)),url(.././images/ferrari.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    background-attachment: fixed;
    color: white;
}

.index__customers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    // background: $off-white;
    font-size: 2.5em;
}

.index__customers-header{
    margin: $m-size auto 0 auto;

    &::after {
        display: block;
        height: 2px;
        background-color: $color-white;
        content: "";
        width: 300px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

.index__customers-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.index__customers-body-item {
    margin: 0 $l-size 0 $l-size;
    width: 20%;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

.index__customer-body--photo {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block;
}


/*********************

** BOOK SECTION

**********************/
.index__call-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    font-size: 2.5em;

    background-image: linear-gradient(105deg, 
        rgba($color-orange, .7) 0%,
        rgba($color-orange, .7) 50%,
        transparent 50%) ,
    url(.././images/gtr-min.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    max-width: 114rem;
    margin: 10% auto;
    height: 50rem;
    color: white;
}

.index__call-book{
    width: 50%;
    padding: 6rem;
}

.index__call-info--call-location {
    display: flex;
    flex-direction: row;
}

.index__call-info--item {
    margin-right: $xl-size;
    margin-top: $m-size;
}

.index__call-info {
    display: flex;
    flex-direction: column;
}