/*********************

** FINEST QUALITY SECTION

**********************/
.index__finest-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    background: $off-white;
    font-size: 2.5em;


}

.index__finest-header {
    margin: $m-size auto 0 auto;

    @include respond(phone) {
        font-size: $font-size-large;
    }

}

.index__finest-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 

    @include respond(tab-land) {
        flex-direction: column;
        align-items: center;
    }
    @include respond(phone) {
        font-size: $font-size-large;
    }
}

.index__finest-body--text {
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 20rem;
    width: 30vw;

    &-item {
        margin: auto 0 $xl-size 0;

        @include respond(phone) {
            margin: auto 0 $m-size 0;
        }
    }

    @include respond(tab-land) {
        width: 70vw;
        margin: $l-size 0 $l-size 0;
    }

    @include respond(phone) {
        width: 80vw;
    }
}

.index__finest-body--images {
    position: relative;

    &-photo {
        width: 25rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;


        @include respond(tab-port) {
            width: 23rem;
        }

        @include respond(phone) {
            width: 70vw;
        }

        @include respond(big-desktop) {
            width: 30rem;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &-p1 {
            right: 40rem;
            top: 20rem;

            @include respond(tab-land) {
                right: 0;
                top: 0;
                margin: 0 1rem 0 1rem;
            }

            @include respond(tab-port) {
                margin: 0 0 0 0;
            }

            @include respond(phone) {
                margin: $m-size 0 $m-size 0;
            }

            @include respond(big-desktop)  {
                right: 55rem;
                top: 25rem;
                transform: scale(1.2);
            }
        }

        &-p2 {
            right: 30rem;
            top: -6rem;

            @include respond(tab-land) {
                right: 0;
                top: 0;
                margin: 0 1rem 0 1rem;
            }

            @include respond(tab-port) {
                margin: 0 0 0 0;
            }

            @include respond(phone) {
                margin: $m-size 0 $m-size 0;
            }

            @include respond(big-desktop)  {
                right: 35rem;
                top: -8rem;
                transform: scale(1.3);
            }
        }

        &-p3 {
            right: 20rem;
            top: -10rem;

            @include respond(tab-land) {
                right: 0;
                top: 0;
                margin: 0 1rem 0 1rem;
            }

            @include respond(tab-port) {
                margin: 0 0 0 0;
            }

            @include respond(phone) {
                margin: $m-size 0 $m-size 0;
            }

            @include respond(big-desktop)  {
                right: 25rem;
                top: -10rem;
                transform: scale(1.1);
            }
        }

        &:hover {
            outline: 1.5rem solid $color-orange;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }


    @include respond(tab-land) {
        display: flex;
        flex-direction: row;
    }

    @include respond(phone) {
        display: flex;
        flex-direction: column;
    }
}

.index__finest-footer {
    margin: 0 auto 0 auto;

    @include respond(tab-land){
        margin: $l-size auto $l-size auto;
    }
}



/*********************

** MOST POPULAR SECTION

**********************/
.index__popular {
    background-image: linear-gradient(rgba(251, 86, 3, 0.6), rgba(251, 86, 3, 0.3)),url(.././images/mercedez.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    background-attachment: fixed;
}

.index__popular-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    font-size: 2.5em;
    color: white;

}

.index__popular-header {
    margin: $m-size auto 0 auto;
}

.index__popular-body {
    display: flex;
    flex-direction: row;
    justify-content: center; 

    @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
        margin: $l-size 0 $l-size 0;
    }
}

.index__popular-footer {
    margin: 0 auto $xl-size auto;
}


/*********************

** BEST IN THE BUSINESS SECTION

**********************/
.index__best-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: $off-white;
    font-size: 2.5em;
    margin-top: 20rem;
    margin-bottom: 20rem;

    @include respond(tab-port){
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 15rem;
        margin-bottom: 15rem;
    }
    @include respond(phone){
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
}

.index__best-header {
    margin: $m-size auto 10rem auto;
}

.index__best-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include respond(tab-port){
        flex-direction: column;
        align-items: center;
    }
}

.index__best-body--info {

    @include respond(tab-port){
        margin-top: 4rem;
    }
    @include respond(phone){
        margin: 0 auto $l-size auto;
    }
}

.index__best-body--info-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: $l-size;
    margin-left: 1rem;
    margin-right: 1rem;


}

.index__best-body--icon {
    margin-right: $xl-size;
    width: 6rem;

    @include respond(tab-land){
        margin-right: $s-size;
    }
}

.index__best-body--image-photo {
    width: 60rem;
    border-radius: 20px;

    @include respond(tab-land){
        width: 45rem;
    }

    @include respond(tab-port){
        margin-top: 0rem;
    }
    @include respond(phone){
        width: 35rem;
    }
}


/*********************

** CUSTOMERS SECTION

**********************/
.index__customers {
    background-image: linear-gradient(rgba(251, 86, 3, 0.6), rgba(251, 86, 3, 0.3)),url(.././images/ferrari-min.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    background-attachment: fixed;
    color: white;
}

.index__customers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    // background: $off-white;
    font-size: 2.5em;
}

.index__customers-header{
    margin: $m-size auto 0 auto;
    text-align: center;

    &::after {
        display: block;
        height: 2px;
        background-color: $color-white;
        content: "";
        width: 300px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

.index__customers-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @include respond(tab-port) {
        flex-direction: column;
        align-items: center;
    }

}

.index__customers-body-item {
    margin: 0 $l-size 0 $l-size;
    width: 25%;

    @include respond(tab-land){
        height: 50rem;
    }

    @include respond(tab-port) {
        width: 45%;
        height: 40rem;
        margin: $l-size 0 $l-size 0;
    }

    @include respond(phone) {
        width: 65%;
        height: 45rem;
        margin: $l-size 0 $l-size 0;
    }

    @include respond(big-desktop){
        width: 20%;
    }
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

.index__customer-body--photo {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
    display: inline-block;
}

.index__portfolio-footer {
    margin: 0 auto $xl-size auto;
}

/*********************

** BOOK SECTION

**********************/
.index__call-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    font-size: 2.5em;

    background-image: linear-gradient(105deg, 
        rgba($color-orange, .7) 0%,
        rgba($color-orange, .7) 50%,
        transparent 50%) ,
    url(.././images/gtr-min.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    max-width: 114rem;
    margin: 10% auto;
    height: 50rem;
    color: white;

    @include respond(tab-land) {
        background-image: linear-gradient(105deg, 
        rgba($color-orange, .7) 0%,
        rgba($color-orange, .7) 65%,
        transparent 65%) ,
        url(.././images/gtr-min.jpg);
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, 
        rgba($color-orange, .7) 0%,
        rgba($color-orange, .7) 100%),
        url(.././images/gtr-min.jpg);

        width: 60rem;
        align-items: center;
        text-align: center;
    }

    @include respond(tab-port) {
        width: 80vw;
        height: 60rem;
    }

}

.index__call-book{
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
        width: 65%;
    }

    @include respond(tab-port) {
        width: 100%;
    }

    @include respond(phone) {
        width: 100%;
    }
}

.index__call-info--call-location {
    display: flex;
    flex-direction: row;

    @include respond(tab-port) {
        flex-direction: column;
    }

    @include respond(phone) {
        width: 100%;
    }
}

.index__call-info--item {
    margin-right: $xl-size;
    margin-top: $m-size;

    @include respond(phone) {
        margin-right: 0;
    }
}

.index__call-info {
    display: flex;
    flex-direction: column;

    @include respond(phone) {
        width: 80vw;
    }
}