/*********************

** SERVICES SECTION

**********************/
.services__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: $xl-size auto $xl-size auto;
    font-size: 2em;
}

.services__header-text {
    text-align: center;
    margin: 0 $m-size 0 $m-size;
}

.services__grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    @include respond(tab-land){
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    @include respond(phone){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
}

.services__grid-item {
    margin: 2rem;


    @include respond(tab-port) {
        margin: 2rem 1rem 2rem 1rem;
    }

    @include respond(big-desktop){
        margin: 5rem;
    }
}

#services-p {
    color: $off-white;
    font-size: 2em;
}