// Colors
$dark-gray: #333333;
$gray: rgb(145, 145, 145);
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;
$color-white: white;
$color-black: #000;
$color-orange: #FB5603;
$color-dark-blue: #090C0E;

// Font sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Header height
$header-height: 85px;
$header-mobile-height: 65px;